@using BlazorPOC2.Shared.Models


<InputRadioGroup @bind-Value="@question.Answer" @oninput="OnSelectOneChanged">
    @foreach (var option in question.Options)
    {
        <InputRadio Value="option.Text"/>
        <span class="px-2"> @option.Text </span>
        <br>
    }
</InputRadioGroup>

<div class="form-group">
    @foreach (var option in question.Options)
    {
        <input type="radio" name="@question.QuestionId" value="@option.Text" @onchange="OnSelectOneChanged" />
        <span class="px-2"> @option.Text </span>
        <br>
    }
</div>

@code{

    [Parameter]
    public Question question { get; set; }

    [Parameter]
    public EventCallback<ChangeEventArgs> OnSelectOneChanged { get; set; }
 
}